*{
    font-family: "Poppins", serif;
    color: #fff;
    font-size: 20px;
}

body {
    background-color: #000000;
    overflow-x: hidden;
}


.esl-almaya{
    margin: 50px 0 50px 0;
    max-width: 500px;
}

.span-esl {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FF9600;
}

.btn-1 {
  width: auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-1 a {
  text-decoration: none;
  border: 2px solid #FF9600;
  padding: 15px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  transition: all .7s;
}

.anchor {
    position: relative;
    font-size: 2.5rem;
    z-index: 3;
  }

  .btn-1 a::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -2px;
    width: calc(100% + 6px);
    height: calc(100% - 10px);
    background-color: #000000;
    transition: all 0.5s ease-in-out;
    transform: scaleY(1);
  }

.btn-1 a:hover {
  
  transform: scale(1.1);
}

.btn-1 a:hover::before {
  transform: scaleY(0);
}

.btn-1 a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
  background-color: #000000;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

.btn-1 a:hover::after {
  transform: scaleX(0);
}

.bg-p{
  background-color: #ff950000;
  padding: .1px 0 .1px 0;
  margin: 5px;
  transition: all 1s;
}

.bg-p p{
  color: antiquewhite;
}

.sect-info{
  background-color: #FF9600;
  padding: 0 35px 0 35px;
}

.text-seminario {
  color: #000;
  font-size: 1.2rem;
  font-weight: 300;
}

.info-seminario p {
  font-size: 1.1rem;
  margin: 15px 10px 20px 15px;
  transition: all .5s;
}

.bg-p:hover {
  transform: scale(1.1);
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}