
*{
  font-family: "Noto Sans", sans-serif;
    color: #fff;
    font-size: 20px;
}


body {
    background-color: #000000;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url(images/fondo.png);
    background-attachment: fixed;
}


.esl-almaya{
    margin: 50px 0 50px 0;
    max-width: 100%;
}

.rochester {
  font-family: "Rochester", serif;
  font-weight: 400;
  font-style: normal;
}

.span-esl {
    font-size: 3rem;
    font-weight: bold;
}


.esl-almaya h3 {

  font-size: 2rem;
}

.txt-dorado {
  background: 
  radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc-sem{
  font-size: 2.9rem;
}

.btn-1 {
  width: auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.btn-1 a {
  text-decoration: none;
  padding: 15px;
  border-radius: 50px;
  border: solid #fff 5px;
  background: radial-gradient(ellipse farthest-corner at right bottom, #f8ce14 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #d0b82d 0%, #c2af33 8%, #efb843 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  transition: all .7s;
  animation: color infinite;
}
/* 
.btn-1 a {
  text-decoration: none;
  padding: 15px;
  border: 2px solid #ffffff;
  border-radius: 6px;
  background: goldenrod;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  transition: all .7s;
} */

.btn-1 a:hover{
  scale: 1.05;
}

.anchor {
    position: relative;
    font-size: 2.5rem;
    z-index: 3;
  }

.bg-p{
  background-color: #ff950000;
  padding: .1px 0 .1px 0;
  margin: 5px;
  transition: all 1s;
}

.bg-p p{
  color: antiquewhite;
}

.sect-info{
  background-color: #f7eddaf8;
  padding: 0 35px 0 35px;
}

.text-seminario {
  color: #EFB810;
  font-size: 1.2rem;
  font-weight: bold;
}

.info-seminario p {
  color: #000000;
  font-size: 1.1rem;
  margin: 15px 10px 20px 15px;
  transition: all .5s;
}

.info-seminario h3{
  font-weight: bold;
  font-size: 2.8rem;
}

.bg-p:hover {
  transform: scale(1.03);
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}


.hist-cont p {
  font-size: .9rem;
}

@media (max-width: 800px) {
  .esl-almaya h3{
    font-size: 1.3rem;
  }

  .esl-almaya span{
    font-size: 1.7rem;
  }

  .btn-1 a span {
    font-size: 1.7rem;
  }

  .text-seminario{
    font-size: 1rem;
  }

  .info-seminario p {
    font-size: .9rem;
  }

  .info-seminario h3 {
    font-size: 1.5rem;
  }

  .desc-sem {
    font-size: 1.1rem;
  }
  
}

@media (max-width: 1300px){
  .esl-almaya {
    font-size: 1.8rem;
  }
  .span-esl {
    font-size: 3.5rem;
  }

  .btn-1 a span {
    font-size: 1.5rem;
  }
}
